In [1]:
import datetime as dt
from pathlib import Path
import seaborn as sns
import os
import requests
import pandas as pd
import yfinance as yf
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
%matplotlib inline

In [3]:
tsla = yf.Ticker("TSLA")

tsla_hist = tsla.history(period="5y")
tsla_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2015-11-06,46.139999,46.672001,45.900002,46.472000,12226500,0,0.0
2015-11-09,46.598000,46.598000,44.862000,45.066002,19254500,0,0.0
2015-11-10,44.695999,44.740002,43.216000,43.299999,23085000,0,0.0
2015-11-11,43.554001,43.896000,42.726002,43.816002,16739000,0,0.0
2015-11-12,43.570000,43.799999,42.532001,42.588001,14579500,0,0.0
...,...,...,...,...,...,...,...
2020-10-30,406.899994,407.589996,379.109985,388.040009,42511300,0,0.0
2020-11-02,394.000000,406.980011,392.299988,400.510010,29021100,0,0.0
2020-11-03,409.730011,427.769989,406.690002,423.899994,34351700,0,0.0
2020-11-04,430.619995,435.399994,417.100006,420.980011,32023000,0,0.0
2020-11-05,428.299988,440.000000,424.000092,438.089996,27564471,0,0.0

In [ ]:
load_dotenv()

In [ ]:
###Set Alpaca API key and secret
alpaca_api_key = os.getenv("api_key_id")
alpaca_secret_key = os.getenv("secret_api_key")
###Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [ ]:
# Open S&P 500 historical prices
file_path = Path("Resources\S&P500_5years.csv")
sp500 = pd.read_csv(file_path, parse_dates=True, index_col="Date", infer_datetime_format=True)
sp500.head()

In [ ]:
# Fetch the closing prices of S&P500
sp500_closing_prices = pd.DataFrame()
sp500_closing_prices["S&P500"] = sp500["Close"]
sp500_closing_prices

In [ ]:
#check null and cleaning data
sp500_closing_prices.isnull().sum()

In [ ]:
###Set the tickers
tickers = ["F", "TSLA"]
###Set timeframe to '1D' for Alpaca API
timeframe = "1D"
# Set start and end datetimes 
start_date = pd.Timestamp("2015-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-08-27", tz="America/New_York").isoformat()

# Get historical data 
df_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker.tail(10)

In [ ]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of KO and TSLA
df_closing_prices["FORD"] = df_ticker["F"]["close"]
df_closing_prices["TESLA"] = df_ticker["TSLA"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

df_closing_prices

In [ ]:
#Concatenate STOCKS & INDEX
all_closing_prices = pd.concat([df_closing_prices, sp500_closing_prices], axis="columns", join="inner")
all_closing_prices.head()

In [ ]:
# Compute daily returns
df_daily_returns = all_closing_prices.pct_change().dropna()

# Display sample data
df_daily_returns.tail(10)

In [ ]:
df_daily_returns.plot(figsize=(10,5))

In [ ]:
df_cumulative = (1 + df_daily_returns).cumprod()
df_cumulative.plot(figsize=(10,5))

In [ ]:
df_cumulative.plot.box(figsize=(20,10))

In [ ]:
df_daily_returns.describe()

In [ ]:
###Calculate and plot beta of TESLA and the S&P500.
###Calculate covariance of TESLA
covariance_tesla = df_daily_returns['TESLA'].cov(df_daily_returns['S&P500'])
print(f'TESLA covariance returns vs S&P500 is: {covariance_tesla}')

In [ ]:
###Calculate variance of S&P500
variance_tesla = df_daily_returns['S&P500'].var()
print(f"Variance of S&P500 is : {variance_tesla}")

In [ ]:
###Calculating beta of Algo 1
###Plot beta trend
beta_tesla = covariance_tesla / variance_tesla
print(f'Beta of TESLA is: {beta_tesla}')

In [ ]:
sns.lmplot(x="S&P500", y="TESLA", data=df_daily_returns, aspect=1.5, fit_reg=True)

In [ ]:
# Create an empty DataFrame for closing prices
fiveyears_closing_prices = pd.DataFrame()

# Fetch the closing prices of FB and TWTR
fiveyears_closing_prices["Nov/2015"] = df_closing_prices.iloc[0]
fiveyears_closing_prices["Aug/2020"] = df_closing_prices.iloc[-1]
fiveyears_closing_prices["% diff"] = (fiveyears_closing_prices["Aug/2020"] / fiveyears_closing_prices["Nov/2015"]) * 100

fiveyears_closing_prices

In [ ]:
 # Use the results to calculate the outcome of our initial $10,000 of investment in Apple and Tesla stocks
initial_investiment = 10000
ford_fv = initial_investiment * (fiveyears_closing_prices.iloc[0,2] / 100)
tsla_fv = initial_investiment * (fiveyears_closing_prices.iloc[1,2] / 100)

# Print results
print(f"If you have invested ${initial_investiment} over 5 years in FORD stock your balance would be ${ford_fv}"
      f" but if you have invested in tesla instead your balance would be ${tsla_fv}")

In [ ]:
df_daily_returns.describe()

In [ ]:
df_daily_returns["FORD"].plot.hist()

In [ ]:
df_daily_returns["TESLA"].plot.hist()

In [ ]:
#Plot.density of TESLA and FORD
txl_closing_prices = df_closing_prices.pct_change().dropna()
txl_closing_prices.plot.density()