In [1]:
# Import libraries and dependencies
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [2]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

###Load the environment variables from your .env file and save the Alpaca keys as Python variables
alpaca_api_key = os.getenv("api_key_id")
alpaca_secret_key = os.getenv("secret_api_key")

###Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

###Use your Alpaca keys to create the Alpaca API object, api_version parameter to v2.
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [3]:
# Set the ticker
ticker = "NIO"

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 3 years from Today
start_date = pd.Timestamp("2018-09-30", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-01-01", tz="America/New_York").isoformat()

# Get 3 years worth of historical data for TSLA
tesla_ticker = alpaca.get_barset(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

tesla_ticker.head()

                            NIO
                           open  high   low   close    volume
2018-10-01 00:00:00-04:00  7.06  7.08  6.60  6.6000  15403278
2018-10-02 00:00:00-04:00  6.60  6.60  5.87  5.9232  18478084
2018-10-03 00:00:00-04:00  6.12  6.55  6.12  6.2901  12596686
2018-10-04 00:00:00-04:00  6.19  6.24  6.00  6.2200  11181644
2018-10-05 00:00:00-04:00  6.20  6.29  6.03  6.2500   7871554