In [6]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import yfinance as yf
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import hvplot.pandas 
import pygal
from pygal.style import DarkSolarizedStyle
import cairo
%matplotlib inline

In [7]:
csv_path = Path("TSLA-Revbyseg.csv")
revenue = pd.read_csv(csv_path, parse_dates=True, infer_datetime_format=True).dropna().set_index('Year')
revenue

,Automotive sales,Automotive leasing,Energy generation and storage,Services and other
Year,,,,
2015,3431,309,14,290
2016,5589,761,181,467
2017,8534,1106,1116,1001
2018,17632,883,1555,1391
2019,19952,869,1531,2226
Sep-20,17150,772,1242,1628

In [16]:
segmentr_rev = pygal.HorizontalBar(fill=True, interpolate='cubic', style=DarkSolarizedStyle, y_title='Year', x_title='Revenue', figize=(5,1))
segmentr_rev.title = "Tesla Revenue by Segment in Millions"
segmentr_rev.add('Automotive sales', revenue.iloc[:,0])
segmentr_rev.add('Automotive leasing', revenue.iloc[:,1])
segmentr_rev.add('Energy generation and storage', revenue.iloc[:,2])
segmentr_rev.add('Services and other', revenue.iloc[:,3])
segmentr_rev.x_labels = map(str, range(2015, 2021))
#segmentr_rev.render('TSLA.png')
segmentr_rev.render_in_browser()

file://C:/Users/ttanh/AppData/Local/Temp/tmpqltv1l7d.html